@import 'bootstrap';

$navbar_height: 56px;

#sidebar {
  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$navbar_height});
  }

  color: white;
  background-color: $gray-900;
  @extend .overflow-auto;
}

#Mode7Controls {
  @extend .text-left;

  h4 {
    @extend .pt-3;
    @extend .mb-3;
  }

  p {
    @extend .d-inline-block;
    @extend .float-right;
  }

  Button {
    @extend .mt-4;
    @extend .d-block;
    @extend .btn-danger;
    @extend .w-100;
    @extend .mb-3;
    @extend .shadow-none;
  }

}

#main-area {
  @extend .p-0;
}

#Mode7Canvas {
  height: calc(100vh - #{$navbar_height});
  display: flex;
  justify-content: center;
  background-color: #000000;
}

#main-canvas {
  image-rendering: pixelated;
  object-fit: contain;
}